body {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 42px;
  overflow: hidden;
}
main {
  display: flex;
  gap: 50px;
  background-color: hsl(102deg 81% 64%);
  padding: 15px;
  height: 100vh;
  text-align: center;
}
.stulpelis {
  flex: 2 1 auto;
}
.specialistoVardas {
  background-color: #a4ff7e;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.aptarnaujamasNumeris {
  margin-top: 20px;
  background-color: #80d15b;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.kitasNumeris {
  margin-top: 20px;
  background-color: #a4ff7e;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
.ikeltiDuomenis,
.generuotiSpecialistus,
.pridetiKlienta {
  background-color: #a4ff7e;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
}
button {
  border-radius: 3px;
  background-color: rgba(0, 119, 255, 0.541);
  border: 1px rgba(0, 119, 255, 0.541) solid;
  color: white;
  cursor: pointer;
}
select {
  margin: auto;
  border-radius: 3px;
  border: 2px grey solid;
}
